registry=https://registry.npmmirror.com
electron-mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries-mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
